<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Benvenuto nella home</h1>
    <form action="/listaPrenotazioniView" method="get">
        <button type="submit">Lista Prenotazioni</button>
    </form>

    <form action="/nuovaPrenotazioneView" method="get">
        <button type="submit">Nuova Prenotazione</button>
    </form>

    <form action="/verificaDisponibilitaView" method="get">
        <button type="submit">Verifica Disponibilita</button>
    </form>


</body>
</html>